<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumTraining">
  <test name="TestLogIn">
    <classes>
      <class name="QuestionA.QuestionA"/>
    </classes>
  </test> <!-- TestA -->
  <test name="TestSearchFeedbackFromOthers">
    <classes>
      <class name="QuestionB.QuestionB"/>
    </classes>
  </test> <!-- TestB -->
</suite> <!-- SuiteSeleniumTraining -->

